@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

/*Navigation*/

.header {
  width: 100%;
  height: 132px;
  padding: 20px 28px;
  background: #fff;
}

.navbar {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.top-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.top-nav > p {
  color: #22202e;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-nav > img {
  width: 16px;
  height: 16px;
}

.left-nav-icons {
  display: flex;
  gap: 16px;
}

.nav-divider {
  width: 1850px;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.bottom-nav {
  width: 675px;
  height: 22px;
  display: inline-flex;
  align-items: flex-start;
  gap: 44px;
  margin-top: 20px;
}

.bottom-nav li > a {
  color: #726e8d;
  font-family: "Poppins";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.3s ease;
}

/*Hero section*/

.hero-block {
  position: relative;
  width: 100%;
  height: 704px;
  background-image: url(/src/img/hero.img.jfif);
  background-size: cover;
  background-position: center;
}

.hero-container {
  position: relative;
  width: 630px;
  height: 444px;
  top: 130px;
  left: 970px;
  background-color: #ffffff;
}

.hero-text {
  padding: 48px 61px 46px 56px;
  text-align: start;
}

.hero-text > h2 {
  color: #22202e;
  font-family: "Poppins";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.hero-text > p {
  color: #5b5676;
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 20px;
}

.hero-btn {
  margin-top: 157px;
  width: 170px;
  height: 56px;
  padding: 16px 32px;
  gap: 10px;
  align-items: flex-start;
  background-color: #f9f9f9;
  border: none;
  color: #2a254b;
  cursor: pointer;
  transition: all 0.3s ease;
}

/*Features*/

.features-section {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
}

.feature-title {
  width: 366px;
  height: 34px;
  color: #2a254b;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.feature-content {
  display: flex;
  gap: 22px;
}

.feature-box {
  width: 305px;
  height: 244px;
  background: #f9f9f9;
  padding: 48px;
  margin-top: 36px;
}

.feature-box > h4 {
  margin-top: 12px;
  color: #2a254b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.feature-box > p {
  margin-top: 12px;
  color: #2a254b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/*Listing section*/

.listing-section {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 28px 80px 40px 80px;
}

.listing-content {
  display: flex;
  gap: 20px;
}

.listing-box {
  width: 305px;
  height: 462px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.box-title {
  margin-top: 24px;
  width: 154px;
  height: 63px;
}

.box-title > h4 {
  color: #2a254b;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.box-title p {
  color: #2a254b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-top: 8px;
}

.list-btn {
  width: 170px;
  height: 56px;
  padding: 16px 32px;
  margin-top: 48px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f9f9f9;
  color: #2a254b;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.3s ease;
}

/*Bottom Features*/

.bottom-features-section {
  width: 100%;
  padding: 60px 80px;
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 16px;
}

.features-text-block {
  width: 634px;
  height: 478px;
  display: flex;
  padding: 64px 75px 54px 64px;
  flex-direction: column;
  background: #2a254b;
}

.fs-text {
  width: 495px;
  height: 99px;
}

.fs-text > h2 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fs-text > p {
  margin-top: 12px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.fs-btn {
  margin-top: 205px;
  width: 170px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: rgba(249, 249, 249, 0.15);
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.3s ease;
}

.features-img-block {
  width: 630px;
  height: 478px;
}
